.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 10px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.login-form h2 {
    text-align: center;
}

.login-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-btn-primary {
    background: #50BFA5;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.login-btn-primary:hover {
    background: #3ca58a; /* Darker shade on hover */
    transform: scale(1.05); /* Slight zoom effect */
}

.login-btn-primary:disabled {
    background: #a0d7c6;
    cursor: not-allowed;
    transform: none;
}

.login-error {
    color: red;
    text-align: center;
}
